<!DOCTYPE html>
<html>
	<head>
	
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>replit</title>
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	</head>
	
	<body>
		<div>
			<nav class="top_bar">
				<a href="https://pagetest-mdurv.run.goorm.io/menupage" class="font1">
					배달의 민족
				</a>

				<ul class="nav justify-content-center font2">
				  <li class="nav-item">
					<a class="nav-link" aria-current="page" href="https://pagetest-mdurv.run.goorm.io/mypage">마이페이지</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">쿠폰함</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">선물함</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="https://pagetest-mdurv.run.goorm.io/shopping">장바구니</a>
				  </li>
				</ul>

				<button class="font1">
					검색
				</button>
			</nav>
		</div>
		<div>
			<img class=" img-size3 rounded mx-auto d-block" src="<%=asset_path 'bbq.jpg'%>">
		</div>
		
		<nav class='category_arr4 font2'>
			  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
					메뉴
				</button>
				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
					정보
				</button>
				<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
					리뷰
				</button>
				  
			  </div>
		</nav>
		
		<!-- 메뉴 -->
		<div class="tab-content" id="nav-tabContent">
		  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
			  
			  
			<div class="category_arr3">
				<div class="font1">
					---------인기메뉴---------
				</div>
				<a href="https://pagetest-mdurv.run.goorm.io/order1">
					<div class="card mb-3" style="max-height: 100%">
					  <div class="row g-0">
						<div class="col-md-8">
							<div class="font2" style="margin-top: 70px;">황금올리브 후라이드</div>
							<p style="font-size: 30px;">11,000 ~ 20,000원</p>
						</div>
						<div class="col-md-4">
							<img src="<%=asset_path 'bbq_menu1.png'%>" class="img-fluid rounded-start">
						</div>
					  </div>
					</div>
				</a>
			</div>


			<div class="category_arr3">
				<a href="#">
					<div class="card mb-3" style="max-height: 100%">
					  <div class="row g-0">
						<div class="col-md-8">
							<div class="font2" style="margin-top: 70px;">핫 황금올리브 블랙페퍼</div>
							<p style="font-size: 30px;">21,000 ~ 23,000원</p>
						</div>
						<div class="col-md-4">
							<img src="<%=asset_path 'bbq_menu4.png'%>" class="img-fluid rounded-start">
						</div>
					  </div>
					</div>
				</a>
			</div>

			<div class="category_arr3">
				<a href="#">
					<div class="card mb-3" style="max-height: 100%">
					  <div class="row g-0">
						<div class="col-md-8">
							<div class="font2" style="margin-top: 70px;">자메이카 통다리구이</div>
							<p style="font-size: 30px;">21,500원</p>
						</div>
						<div class="col-md-4">
							<img src="<%=asset_path 'bbq_menu3.png'%>" class="img-fluid rounded-start">
						</div>
					  </div>
					</div>
				</a>
			</div>

			<div class="category_arr3">
				<a href="#">
					<div class="card mb-3" style="max-height: 100%">
					  <div class="row g-0">
						<div class="col-md-8">
							<div class="font2" style="margin-top: 70px;">자메이카 소떡만나치킨</div>
							<p style="font-size: 30px;">24,000원</p>
						</div>
						<div class="col-md-4">
							<img src="<%=asset_path 'bbq_menu1.png'%>" class="img-fluid rounded-start">
						</div>
					  </div>
					</div>
				</a>
			</div>
		  </div>
				
			<!-- 정보 -->
		  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
			  <div class="category_arr3" style="text-align: center;">
				<div class="font1">
					---------가게 소개---------
					<div class="font3">
						오늘도 저희 비비큐 동의대점을 찾아주셔서 감사합니다 :) 항상 신성한재료와 청결을 기본을 정성을 듬뿍담아 배달해 드리기위해 노력하고 있습니다. 불편사항이 있으시면 언제든지 매장으로 연락주시면 빠른 처리 도와드리겠습니다.<hr>영업정보 <br>상호명 : 비비큐 동의대점 <br> 운영시간 : 평일, 주말 - 오전 11:00 ~ 익일 새벽 1:00 <br> 휴무일 : 연중무휴 <br> 전화번호 : 050 - 88197 - 2500 <br>배달지역 : 개금1동, 개금2동, 개금3동, 가야1동, 가야2동 <hr>사업자 정보 <br>대표자명 : 이푸름 <br> 사업자 주소 : 부산 부산진구 가야대로552번길 111 <br> 사업자 등록번호 : 485-27-01134

					</div>
			    </div>
			  </div>
		  </div>


		<!-- 리뷰 -->
		  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

			  <div class ="category_arr3 aaa font2">

				  <div>
					  ⭐ 별점 : 
				  </div>

				  <div>
					  리뷰 : 
				  </div>
			  </div>

			  <div class ="category_arr3 aaa font2">

				  <div>
					  ⭐ 별점 : 4.6
				  </div>

				  <div>
					  리뷰 : 맛있따
				  </div>
			  </div>

			  <div class ="category_arr3 aaa font2">

				  <div>
					  ⭐ 별점 : 5.6
				  </div>

				  <div>
					  리뷰 : ㅁ굿
				  </div>
			  </div>

			</div>

		
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

	</body>
</html>